@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./images/bg-intro-mobile.png") no-repeat;
  background-color: var(--red);
}

main {
  width: 100%;
  margin: 2.5rem auto;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.intro {
  text-align: center;
  color: white;
}

.intro h1 {
  padding-bottom: 2rem;
  line-height: 2.5rem;
  font-size: 1.8rem;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.try-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.try-btn button {
  padding: 1rem 3.5rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;
  background-color: var(--blue);
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.2);
}

.try-btn button span {
  font-weight: 600;
}

form {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.7rem;
}

form input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--grayish-blue);
}

form input::placeholder {
  font-weight: 600;
  color: var(--grayish-blue);
}

.first,
.last,
.email-address,
.pass {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative; 
  margin: 1rem; 
}

.first img,
.last img,
.email-address img,
.pass img {
  display: none;
  position: absolute;
  right: 1rem;
}

.error-msg {
  font-size: 0.6rem; 
  margin-top: 0.3rem;
  margin-left: auto;
  font-style: italic;
  color: var(--red); 
}

#free-trial {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  background-color: var(--green);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  box-shadow: 0 3px 0 hsl(154, 68%, 40%);
}

.tos {
  font-size: 0.7rem;
  text-align: center;
  padding: 1rem;
  color: var(--grayish-blue);
}

.trial p a {
  font-weight: 700;
  text-decoration: none;
  color: var(--red);
}
